- content_for(:header) do
  %div.row
    %div.col-md-8
      %h3
        Jobs Summary

:ruby
  content_for(:container) do
    render(
      :partial => 'layouts/panel',
      :locals  => {
        :body_id => 'fission-jobs-summary',
        :heading => content_for(:header),
        :panel_content => render(:partial => 'jobs/summary', :locals => {:jobs => @jobs}),
        :panel_class => 'widget'
      }
    )
  end

= render(:partial => 'layouts/container', :locals => { :container_class => 'jobs-summary' })
